# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
.venv/
venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Django secret stuff
.env
.env.*

# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp