{% extends "base.html" %}
{% block title %}Ingresar Alumno{% endblock %}

{% block content %}
<main class="max-w-md mx-auto w-full px-4 py-6 pb-24">
  <h2 class="text-xl font-bold mb-4">Ingresar Alumno</h2>

  <form method="POST" class="space-y-4 bg-white dark:bg-slate-900 p-4 rounded-xl border border-slate-200 dark:border-slate-800">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="w-full bg-primary text-white py-2 rounded-lg font-bold">
      Guardar Alumno
    </button>
  </form>
</main>
{% endblock %}